// CLIENT
// ASSESSOR
.paper {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  // height: 100vh;
  padding: 2rem;
  padding-top: 2.5rem;
  // border: 1px solid;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding-bottom: 20px;

    &.space-between {
      justify-content: space-between;
    }

    &.center {
      justify-content: center;
    }
  }

  .stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &.space {
      padding-bottom: 10px;
    }

    &.space-between {
      justify-content: space-between;
    }

    &.locProp {
      width: 90%;
    }

    &.flexgrow {
      flex-direction: column;
    }

    &.align {
      align-items: start;
    }
  }

  .logo {
    max-width: 73px;
    object-fit: cover;
  }

  body1 {
    font-size: 11px;
  }

  body2 {
    font-size: 9.5px;
  }

  h5 {
    margin: 0;
    font-size: 11px;
    border-bottom: 1px solid;
    flex-grow: 1;
    text-align: center;
  }

  h4 {
    margin: 0;
    font-size: 11px;
    flex-grow: 1;
    text-align: center;
  }

  .memo {
    font-size: 12px;
    text-decoration: underline;
    width: 100%;
    border-bottom: 0;
  }

  h3 {
    font-size: medium;
  }

  .kind {
    border-bottom: none;
    text-align: start;
  }

  input[type="checkbox"] {
    width: 17px;
    height: 17px;
  }
  label {
    font-size: 13px;
    font-weight: bold;
    flex-grow: 1;
  }

  .ownerAdmin {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.name {
      width: 65%;
    }

    &.num {
      width: 35%;
    }
  }

  .kind1 {
    width: 50%;
    &.taxable {
      font-weight: none;
    }
  }

  .OCT1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }

  .bound1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }

  .cancels {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .memoranda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;

    &.detail {
      width: 75%;
    }

    &.ctc {
      width: 25%;
    }
  }
  .spacer {
    height: 16px; /* Adjust spacing height as needed */
  }

  .initials {
    display: flex;
    width: 25vh;
    justify-content: space-between;
  }
  .Stamp {
    display: flex;
    width: 150px;
    height: 65px;
    border: 0.5px solid black;
    align-items: center;
  }
}

// BOOKBIND______________________________________________________________________________________________________________________________________________________________________
.BookbindPaper {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 92%;
  padding: 2rem;
  padding-top: 2.5rem;
  margin-left: 8%;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding-bottom: 20px;

    &.space-between {
      justify-content: space-between;
    }
  }

  .stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &.space {
      padding-bottom: 10px;
    }

    &.space-between {
      justify-content: space-between;
    }

    &.locProp {
      width: 90%;
    }

    &.flexgrow {
      flex-direction: column;
    }

    &.align {
      align-items: start;
    }
  }

  .logo {
    max-width: 73px;
    object-fit: cover;
  }

  body1 {
    font-size: 11px;
  }

  body2 {
    font-size: 9.5px;
  }

  h5 {
    margin: 0;
    font-size: 11px;
    border-bottom: 1px solid;
    flex-grow: 1;
    text-align: center;
  }

  h4 {
    margin: 0;
    font-size: 11px;
    flex-grow: 1;
    text-align: center;
  }

  .memo {
    font-size: 12px;
    text-decoration: underline;
    width: 100%;
    border-bottom: 0;
  }

  h3 {
    font-size: medium;
  }

  .kind {
    border-bottom: none;
    text-align: start;
  }

  input[type="checkbox"] {
    width: 17px;
    height: 17px;
  }
  label {
    font-size: 13px;
    font-weight: bold;
    flex-grow: 1;
  }

  .ownerAdmin {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.name {
      width: 65%;
    }

    &.num {
      width: 35%;
    }
  }

  .kind1 {
    width: 50%;
    &.taxable {
      font-weight: none;
    }
  }

  .OCT1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }

  .bound1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }

  .cancels {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .memoranda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;

    &.detail {
      width: 75%;
    }

    &.ctc {
      width: 25%;
    }
  }
  .spacer {
    height: 16px; /* Adjust spacing height as needed */
  }

  .initials {
    display: flex;
    width: 25vh;
    justify-content: space-between;
  }
}
